# macOS
.DS_Store

# Node
node_modules/
frontend/node_modules/
frontend/dist/

# Python
backend/.venv/
__pycache__/
*.pyc

# Env files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Database
backend/set_daily.sqlite3
